In [31]:
import numpy as np
import pandas as pd
df = pd.read_pickle("./analysisdata/player.pkl")
#df = pd.read_csv("./data/player.csv")
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19820 entries, 0 to 19819
Data columns (total 42 columns):
G_x               19820 non-null int64
AB                19820 non-null int64
R                 19820 non-null int64
H                 19820 non-null int64
2B                19820 non-null int64
3B                19820 non-null int64
HR                19820 non-null int64
RBI               19820 non-null float64
SB_x              19820 non-null float64
CS_x              19820 non-null float64
BB                19820 non-null int64
SO                19820 non-null float64
IBB               19820 non-null float64
HBP               19820 non-null float64
SH                19820 non-null float64
SF                19820 non-null float64
GIDP              19820 non-null float64
stint             19820 non-null float64
G_y               19820 non-null float64
GS                19820 non-null float64
InnOuts           19820 non-null float64
PO                19820 non-null float64
A                 19820 non-null float64
E                 19820 non-null float64
DP                19820 non-null float64
PB                19820 non-null float64
SB_y              19820 non-null float64
CS_y              19820 non-null float64
salary            19820 non-null float64
MinSalaries       19820 non-null float64
adjSalary         19820 non-null float64
adjMinSalaries    19820 non-null float64
adjSalary2        19820 non-null float64
Bavg              19820 non-null float64
Slug              19820 non-null float64
OBP               19820 non-null float64
FPct              19820 non-null float64
debutYear         19820 non-null int32
seasonNum         19820 non-null int64
yearID            19820 non-null int64
playerID          19820 non-null object
Primary           19820 non-null object
dtypes: float64(29), int32(1), int64(10), object(2)
memory usage: 6.3+ MB

(19820, 42)

In [32]:
df.isnull().values.ravel().sum()

0

In [33]:
# Determine the number of unique 'classes' of each variable
print ('Size of the dataset:', df.shape)
print ('Number of unique classes:\n', df.nunique())

Size of the dataset: (19820, 42)
Number of unique classes:
 G_x                163
AB                 694
R                  146
H                  231
2B                  59
3B                  23
HR                  65
RBI                157
SB_x                81
CS_x                29
BB                 148
SO                 206
IBB                 43
HBP                 33
SH                  29
SF                  18
GIDP                34
stint               21
G_y                189
GS                 164
InnOuts           4197
PO                1269
A                  524
E                   39
DP                 159
PB                  27
SB_y               129
CS_y                64
salary            2358
MinSalaries         21
adjSalary         6819
adjMinSalaries      33
adjSalary2        6820
Bavg              7078
Slug              9316
OBP               8182
FPct              4892
debutYear           54
seasonNum           26
yearID              33
playerID          3497
Primary              7
dtype: int64

In [34]:
# Printing Head and Tail of Dataset
df.iloc[np.r_[0:6, -6:0]]

,G_x,AB,R,H,2B,3B,HR,RBI,SB_x,CS_x,...,adjSalary2,Bavg,Slug,OBP,FPct,debutYear,seasonNum,yearID,playerID,Primary
0,1,1,0,0,0,0,0,0.0,0.0,0.0,...,276800.0,0.000000,0.000000,0.000000,1.000000,2001,1,2001,abadan01,1B
1,9,17,1,2,0,0,0,0.0,0.0,1.0,...,399600.0,0.117647,0.117647,0.210526,0.972973,2001,3,2003,abadan01,1B
2,5,3,0,0,0,0,0,0.0,0.0,0.0,...,397632.0,0.000000,0.000000,0.400000,0.000000,2001,6,2006,abadan01,DH
3,19,38,8,10,1,0,1,2.0,0.0,0.0,...,229050.0,0.263158,0.368421,0.263158,1.000000,1997,1,1997,abbotje01,OF
4,89,244,33,68,14,1,12,41.0,3.0,3.0,...,263200.0,0.278689,0.491803,0.298450,0.970588,1997,2,1998,abbotje01,OF
5,17,57,5,9,0,0,2,6.0,1.0,1.0,...,375105.0,0.157895,0.263158,0.222222,0.961538,1997,3,1999,abbotje01,OF
19814,36,92,10,18,4,1,1,8.0,0.0,1.0,...,180286.0,0.195652,0.293478,0.226804,1.000000,1991,4,1994,zupcibo01,OF
19815,81,190,16,48,8,1,0,4.0,2.0,0.0,...,136740.0,0.252632,0.305263,0.310680,0.972696,1982,4,1985,zuvelpa01,2B
19816,21,48,2,4,1,0,0,2.0,0.0,0.0,...,134160.0,0.083333,0.104167,0.169811,0.965517,1982,5,1986,zuvelpa01,SS
19817,14,34,2,6,0,0,0,0.0,0.0,0.0,...,134875.0,0.176471,0.176471,0.176471,1.000000,1982,6,1987,zuvelpa01,2B
19818,51,130,9,30,5,1,0,7.0,0.0,0.0,...,129562.5,0.230769,0.284615,0.275362,0.959391,1982,7,1988,zuvelpa01,SS
19819,24,58,10,16,2,0,2,6.0,0.0,0.0,...,286665.0,0.275862,0.413793,0.300000,0.950000,1982,8,1989,zuvelpa01,SS

In [35]:
#Drop Categorial Columns with no predictive ability
df.drop(['MinSalaries', 'salary', 'adjSalary', 'adjMinSalaries','playerID'], inplace=True, axis=1)

In [36]:
# Printing Head and Tail of Dataset
df.iloc[np.r_[0:6, -6:0]]

,G_x,AB,R,H,2B,3B,HR,RBI,SB_x,CS_x,...,CS_y,adjSalary2,Bavg,Slug,OBP,FPct,debutYear,seasonNum,yearID,Primary
0,1,1,0,0,0,0,0,0.0,0.0,0.0,...,0.0,276800.0,0.000000,0.000000,0.000000,1.000000,2001,1,2001,1B
1,9,17,1,2,0,0,0,0.0,0.0,1.0,...,0.0,399600.0,0.117647,0.117647,0.210526,0.972973,2001,3,2003,1B
2,5,3,0,0,0,0,0,0.0,0.0,0.0,...,0.0,397632.0,0.000000,0.000000,0.400000,0.000000,2001,6,2006,DH
3,19,38,8,10,1,0,1,2.0,0.0,0.0,...,0.0,229050.0,0.263158,0.368421,0.263158,1.000000,1997,1,1997,OF
4,89,244,33,68,14,1,12,41.0,3.0,3.0,...,0.0,263200.0,0.278689,0.491803,0.298450,0.970588,1997,2,1998,OF
5,17,57,5,9,0,0,2,6.0,1.0,1.0,...,0.0,375105.0,0.157895,0.263158,0.222222,0.961538,1997,3,1999,OF
19814,36,92,10,18,4,1,1,8.0,0.0,1.0,...,0.0,180286.0,0.195652,0.293478,0.226804,1.000000,1991,4,1994,OF
19815,81,190,16,48,8,1,0,4.0,2.0,0.0,...,0.0,136740.0,0.252632,0.305263,0.310680,0.972696,1982,4,1985,2B
19816,21,48,2,4,1,0,0,2.0,0.0,0.0,...,0.0,134160.0,0.083333,0.104167,0.169811,0.965517,1982,5,1986,SS
19817,14,34,2,6,0,0,0,0.0,0.0,0.0,...,0.0,134875.0,0.176471,0.176471,0.176471,1.000000,1982,6,1987,2B
19818,51,130,9,30,5,1,0,7.0,0.0,0.0,...,0.0,129562.5,0.230769,0.284615,0.275362,0.959391,1982,7,1988,SS
19819,24,58,10,16,2,0,2,6.0,0.0,0.0,...,0.0,286665.0,0.275862,0.413793,0.300000,0.950000,1982,8,1989,SS

In [37]:
df2 = pd.get_dummies(df.Primary,prefix='Prim', prefix_sep='_')
df = df.join(df2, how='inner')
df.drop(['Primary'], axis=1, inplace=True)
df.iloc[np.r_[0:6, -6:0]]

,G_x,AB,R,H,2B,3B,HR,RBI,SB_x,CS_x,...,debutYear,seasonNum,yearID,Prim_1B,Prim_2B,Prim_3B,Prim_C,Prim_DH,Prim_OF,Prim_SS
0,1,1,0,0,0,0,0,0.0,0.0,0.0,...,2001,1,2001,1,0,0,0,0,0,0
1,9,17,1,2,0,0,0,0.0,0.0,1.0,...,2001,3,2003,1,0,0,0,0,0,0
2,5,3,0,0,0,0,0,0.0,0.0,0.0,...,2001,6,2006,0,0,0,0,1,0,0
3,19,38,8,10,1,0,1,2.0,0.0,0.0,...,1997,1,1997,0,0,0,0,0,1,0
4,89,244,33,68,14,1,12,41.0,3.0,3.0,...,1997,2,1998,0,0,0,0,0,1,0
5,17,57,5,9,0,0,2,6.0,1.0,1.0,...,1997,3,1999,0,0,0,0,0,1,0
19814,36,92,10,18,4,1,1,8.0,0.0,1.0,...,1991,4,1994,0,0,0,0,0,1,0
19815,81,190,16,48,8,1,0,4.0,2.0,0.0,...,1982,4,1985,0,1,0,0,0,0,0
19816,21,48,2,4,1,0,0,2.0,0.0,0.0,...,1982,5,1986,0,0,0,0,0,0,1
19817,14,34,2,6,0,0,0,0.0,0.0,0.0,...,1982,6,1987,0,1,0,0,0,0,0
19818,51,130,9,30,5,1,0,7.0,0.0,0.0,...,1982,7,1988,0,0,0,0,0,0,1
19819,24,58,10,16,2,0,2,6.0,0.0,0.0,...,1982,8,1989,0,0,0,0,0,0,1

In [38]:
#Set minimum games at 30
df = df[df['G_x'] > 30]
df = df.reset_index(drop=True)
df.iloc[np.r_[0:6, -6:0]]

,G_x,AB,R,H,2B,3B,HR,RBI,SB_x,CS_x,...,debutYear,seasonNum,yearID,Prim_1B,Prim_2B,Prim_3B,Prim_C,Prim_DH,Prim_OF,Prim_SS
0,89,244,33,68,14,1,12,41.0,3.0,3.0,...,1997,2,1998,0,0,0,0,0,1,0
1,80,215,31,59,15,1,3,29.0,2.0,1.0,...,1997,4,2000,0,0,0,0,0,1,0
2,101,345,41,86,17,3,9,33.0,3.0,0.0,...,1993,2,1994,0,0,0,0,0,0,1
3,120,420,60,107,18,7,17,60.0,4.0,3.0,...,1993,3,1995,0,0,0,0,0,0,1
4,109,320,37,81,18,7,8,33.0,3.0,3.0,...,1993,4,1996,0,0,0,0,0,0,1
5,94,252,35,69,18,2,6,30.0,3.0,1.0,...,1993,5,1997,0,1,0,0,0,0,0
14764,124,387,52,97,25,0,25,64.0,1.0,0.0,...,2013,5,2017,0,0,0,1,0,0,0
14765,124,392,46,108,19,1,3,43.0,2.0,2.0,...,1991,2,1992,0,0,0,0,0,1,0
14766,141,286,40,69,24,2,2,26.0,5.0,2.0,...,1991,3,1993,0,0,0,0,0,1,0
14767,36,92,10,18,4,1,1,8.0,0.0,1.0,...,1991,4,1994,0,0,0,0,0,1,0
14768,81,190,16,48,8,1,0,4.0,2.0,0.0,...,1982,4,1985,0,1,0,0,0,0,0
14769,51,130,9,30,5,1,0,7.0,0.0,0.0,...,1982,7,1988,0,0,0,0,0,0,1

In [39]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import ShuffleSplit
from sklearn.preprocessing import StandardScaler
from sklearn import metrics as mt
import warnings
import pandas as pd
import numpy as np
warnings.filterwarnings('ignore')

# create variables we are more familiar with
y = df.adjSalary2
X = df.drop(['adjSalary2'], axis=1)

In [40]:
#Drop highly correlated, insignificant and high VIF columns.
X = X.drop(['H', 'G_y','InnOuts','HR','GS','AB','SB_y','stint','A','R','Prim_1B','OBP','FPct','Bavg','Slug','debutYear'], axis=1)

#Create correlation matrix
CorrMat = X.corr()

# Highest Correlation Pairs
corrPairs = CorrMat.unstack().sort_values(kind="quicksort")
#- REMOVE DUPLICATES
corrPairs = corrPairs[::2]
corrPairs = corrPairs[corrPairs.index.get_level_values(0) != corrPairs.index.get_level_values(1)]
with pd.option_context('display.max_rows',20):
    print(corrPairs)

DP       Prim_OF   -0.507222
E        Prim_OF   -0.404202
Prim_C   Prim_OF   -0.324410
Prim_3B  Prim_OF   -0.289136
Prim_OF  Prim_2B   -0.288477
         Prim_SS   -0.272891
         CS_y      -0.268322
PB       Prim_OF   -0.249554
Prim_OF  PO        -0.241201
Prim_C   DP        -0.233858
                      ...
BB       G_x        0.740024
SO       RBI        0.744825
BB       RBI        0.764591
Prim_C   PB         0.765206
CS_x     SB_x       0.771658
PB       CS_y       0.795685
RBI      G_x        0.810666
CS_y     Prim_C     0.823878
2B       G_x        0.827987
RBI      2B         0.847580
Length: 325, dtype: float64

In [41]:
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

df2_vif = pd.DataFrame()
df2_vif["VIF Factor"] = [vif(X.values, i) for i in range(X.shape[1])]
#df2_vif["features"] = df_teamX_scaled.columns
df2_vif["features"] = X.columns
df2_vif

    VIF Factor   features
0    54.237329        G_x
1    16.187812         2B
2     2.937205         3B
3    23.001423        RBI
4     4.035760       SB_x
5     4.821658       CS_x
6    10.088615         BB
7    12.033885         SO
8     2.671835        IBB
9     2.381440        HBP
10    2.413913         SH
11    4.805940         SF
12    7.110139       GIDP
13   10.465771         PO
14    5.688888          E
15    8.794248         DP
16    3.414505         PB
17    5.169695       CS_y
18    4.153541  seasonNum
19   27.843680     yearID
20    3.675379    Prim_2B
21    3.937676    Prim_3B
22    6.377604     Prim_C
23    1.154939    Prim_DH
24    9.086060    Prim_OF
25    3.993843    Prim_SS

In [43]:
yhat = np.zeros(y.shape) # we will fill this with predictions

# Scaling training variables
scl = StandardScaler()
X = scl.fit_transform(X)

#Create Cross Validation Object with 10 folds with 80/20 train - test split
cv = ShuffleSplit(n_splits = 10, test_size=0.20, random_state=0)


# now iterate through and get predictions, saved to the correct row in yhat

for train, test in cv.split(X,y):
    # get a handle to the classifier object, which defines the type
    reg_knn = KNeighborsRegressor(n_neighbors=15, weights='uniform', metric='euclidean',algorithm='auto')
    reg_knn.fit(X,y)

coeffDeterm = reg_knn.score(X,y)
print(coeffDeterm)

0.5693697790878804

In [44]:
# now we use only last 5years of data
df5 = df[df.yearID >2005]
X5 = df5.drop(['adjSalary2'], axis=1)
y5 = df5.adjSalary2
#Drop highly correlated, insignificant and high VIF columns.
X5 = X5.drop(['H', 'G_y','InnOuts','HR','GS','AB','SB_y','stint','A','R','Prim_1B','OBP','FPct','Bavg','Slug','debutYear'], axis=1)

In [45]:
print(X5.shape)
print(y5.shape)

(5601, 26)
(5601,)

In [46]:
yhat = np.zeros(y.shape) # we will fill this with predictions

# Scaling training variables
scl = StandardScaler()
X5 = scl.fit_transform(X5)

#Create Cross Validation Object with 10 folds with 80/20 train - test split
cv = ShuffleSplit(n_splits = 10, test_size=0.20, random_state=0)


# now iterate through and get predictions, saved to the correct row in yhat

for train, test in cv.split(X5,y5):
    # get a handle to the classifier object, which defines the type
    reg_knn = KNeighborsRegressor(n_neighbors=15, weights='uniform', metric='euclidean',algorithm='auto')
    reg_knn.fit(X5,y5)

coeffDeterm = reg_knn.score(X5,y5)
print(coeffDeterm)

0.5217602251062916

In [23]:
y = df.adjSalary2
X = df.drop(['adjSalary2'], axis=1)

In [17]:
# Scaling training variables
scl = StandardScaler()
X = scl.fit_transform(X)

# create cross validation iterator
#cv = StratifiedKFold(n_splits=10)
#Create Cross Validation Object with 10 folds with 80/20 train - test split
cv = ShuffleSplit(n_splits = 10, test_size=0.20, random_state=0)

#KNN regressor 10-fold cross-validation 
from sklearn.neighbors import KNeighborsRegressor

ClsEstimator = KNeighborsRegressor()

parameters = { 'n_neighbors':[3,5,15]
              ,'weights': ['uniform']
              ,'leaf_size': [10,30]
              ,'metric': ['euclidean']
             }
#Create a grid search object using the  
from sklearn.model_selection import GridSearchCV
ClsGridSearch = GridSearchCV(estimator=ClsEstimator
                   , n_jobs=8 # jobs to run in parallel
                   , verbose=1 # low verbosity
                   , param_grid=parameters
                   , cv=cv # KFolds = 10
                   , scoring='r2')

#Perform hyperparameter search to find the best combination of parameters for our data
ClsGridSearch.fit(X, y)

Fitting 10 folds for each of 12 candidates, totalling 120 fits

[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:  2.8min
[Parallel(n_jobs=8)]: Done 120 out of 120 | elapsed:  8.4min finished

GridSearchCV(cv=ShuffleSplit(n_splits=10, random_state=0, test_size=0.2, train_size=None),
       error_score='raise',
       estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform'),
       fit_params=None, iid=True, n_jobs=8,
       param_grid={'n_neighbors': [3, 5, 15], 'weights': ['uniform', 'distance'], 'leaf_size': [10, 30], 'metric': ['euclidean']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=1)

In [18]:
ClsGridSearchEst = ClsGridSearch.best_estimator_
print(ClsGridSearchEst)

KNeighborsRegressor(algorithm='auto', leaf_size=10, metric='euclidean',
          metric_params=None, n_jobs=1, n_neighbors=15, p=2,
          weights='distance')

In [19]:
yhat = np.zeros(y.shape) # initializing variable

for train, test in cv.split(X,y):
    # Use Results parameters from GridSearch to run KNN Classifier model
    clf_knn = KNeighborsRegressor(n_neighbors=15, weights='uniform',metric='euclidean', algorithm='auto',p=2,leaf_size=10)
    clf_knn.fit(X[train],y[train])
    print(clf_knn.score(X[test],y[test]))

0.29786969450359124
0.29664786180919656
0.29185899291648054
0.34390263165258117
0.3081099648735529
0.2796045050274617
0.3165793877032338
0.30130237441742314
0.2901621438165132
0.2986330134359184

In [20]:
#Credit To:  https://github.com/jakemdrew/EducationDataNC/blob/master/2017/Models/2017ComparingSegregatedHighSchoolCampuses.ipynb

from sklearn.model_selection import cross_validate
#from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

results = []

def EvaluateClassifierEstimator(classifierEstimator, X, y, cv, model):
   
    #Perform cross validation 
    scores = cross_validate(classifierEstimator, X, Y, scoring=['accuracy','precision','recall']
                            , cv=cv, return_train_score=True)

    Accavg = scores['test_accuracy'].mean()
    Preavg = scores['test_precision'].mean()
    Recavg = scores['test_recall'].mean()

    print_str = "The average accuracy for all cv folds is: \t\t\t {Accavg:.5}"
    print_str2 = "The average precision for all cv folds is: \t\t\t {Preavg:.5}"
    print_str3 = "The average recall for all cv folds is: \t\t\t {Recavg:.5}"

    print(print_str.format(Accavg=Accavg))
    print(print_str2.format(Preavg=Preavg))
    print(print_str3.format(Recavg=Recavg))
    print('*********************************************************')

    print('Cross Validation Fold Mean Error Scores')
    scoresResults = pd.DataFrame()
    scoresResults['Accuracy'] = scores['test_accuracy']
    scoresResults['Precision'] = scores['test_precision']
    scoresResults['Recall'] = scores['test_recall']
    
    results.append({'Model': model, 'Accuracy': Accavg, 'Precision': Preavg, 'Recall': Recavg})

    return scoresResults

def EvaluateClassifierEstimator2(classifierEstimator, X, y, cv):
    
    #Perform cross validation 
    from sklearn.model_selection import cross_val_predict
    predictions = cross_val_predict(classifierEstimator, X, y, cv=cv)
    
    #model evaluation 
    from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
    
    #pass true test set values and predictions to classification_report
    classReport = classification_report(Y,predictions)
    confMat = confusion_matrix(Y,predictions)
    acc = accuracy_score(Y,predictions)
    
    print (classReport)
    print (confMat)
    print (acc)

In [ ]:
#Use the best parameters for our Linear Regression object
classifierEst = regGridSearch.best_estimator_

#Evaluate the regression estimator above using our pre-defined cross validation and scoring metrics. 
#EvaluateClassifierEstimator(classifierEst, df_teamX_scaled, teamY, cv, "manual")

#Evaluate the regression estimator above using our pre-defined cross validation and scoring metrics.
print("\n",round(EvaluateClassifierEstimator(classifierEst, df_teamX_scaled, teamY, cv, "manual"),4))

#Use the best parameters for our Linear Regression object",
ClassiferParams = regGridSearch.best_params_
print("\n---- Logistic Regression - CV, Scaled 'Manual' Attr Elimination ----")
for keys,values in ClassiferParams.items():
    print(keys,": \t ",values)
    
# sort these attributes and spit them out\n",
name = teamX
zip_vars = zip(regGridSearch.best_estimator_.coef_.T,name) # combine attributes
zip_vars = sorted(zip_vars, reverse=True)

# Print out Attributes and their weights\n",
print("\n---- Attributes and their weights -----\n")
for coef, name in zip_vars:
    print(name, ' has weight of', coef[0])