In [1]:
import numpy as np
import pandas as pd
df = pd.read_pickle("./analysisdata/player.pkl")
print('Dataframe Size:',df.shape)
print('Dataframe Null values:',df.isnull().values.ravel().sum())
print ('Number of unique classes:\n',df.nunique())

Dataframe Size: (19820, 42)
Dataframe Null values: 0
Number of unique classes:
 G_x                163
AB                 694
R                  146
H                  231
2B                  59
3B                  23
HR                  65
RBI                157
SB_x                81
CS_x                29
BB                 148
SO                 206
IBB                 43
HBP                 33
SH                  29
SF                  18
GIDP                34
stint               21
G_y                189
GS                 164
InnOuts           4197
PO                1269
A                  524
E                   39
DP                 159
PB                  27
SB_y               129
CS_y                64
salary            2358
MinSalaries         21
adjSalary         6819
adjMinSalaries      33
adjSalary2        6820
Bavg              7078
Slug              9316
OBP               8182
FPct              4892
debutYear           54
seasonNum           26
yearID              33
playerID          3497
Primary              7
dtype: int64

In [2]:
# Printing Head and Tail of Dataset
df.iloc[np.r_[0:6, -6:0]]

,G_x,AB,R,H,2B,3B,HR,RBI,SB_x,CS_x,...,adjSalary2,Bavg,Slug,OBP,FPct,debutYear,seasonNum,yearID,playerID,Primary
0,1,1,0,0,0,0,0,0.0,0.0,0.0,...,276800.0,0.000000,0.000000,0.000000,1.000000,2001,1,2001,abadan01,1B
1,9,17,1,2,0,0,0,0.0,0.0,1.0,...,399600.0,0.117647,0.117647,0.210526,0.972973,2001,3,2003,abadan01,1B
2,5,3,0,0,0,0,0,0.0,0.0,0.0,...,397632.0,0.000000,0.000000,0.400000,0.000000,2001,6,2006,abadan01,DH
3,19,38,8,10,1,0,1,2.0,0.0,0.0,...,229050.0,0.263158,0.368421,0.263158,1.000000,1997,1,1997,abbotje01,OF
4,89,244,33,68,14,1,12,41.0,3.0,3.0,...,263200.0,0.278689,0.491803,0.298450,0.970588,1997,2,1998,abbotje01,OF
5,17,57,5,9,0,0,2,6.0,1.0,1.0,...,375105.0,0.157895,0.263158,0.222222,0.961538,1997,3,1999,abbotje01,OF
19814,36,92,10,18,4,1,1,8.0,0.0,1.0,...,180286.0,0.195652,0.293478,0.226804,1.000000,1991,4,1994,zupcibo01,OF
19815,81,190,16,48,8,1,0,4.0,2.0,0.0,...,136740.0,0.252632,0.305263,0.310680,0.972696,1982,4,1985,zuvelpa01,2B
19816,21,48,2,4,1,0,0,2.0,0.0,0.0,...,134160.0,0.083333,0.104167,0.169811,0.965517,1982,5,1986,zuvelpa01,SS
19817,14,34,2,6,0,0,0,0.0,0.0,0.0,...,134875.0,0.176471,0.176471,0.176471,1.000000,1982,6,1987,zuvelpa01,2B
19818,51,130,9,30,5,1,0,7.0,0.0,0.0,...,129562.5,0.230769,0.284615,0.275362,0.959391,1982,7,1988,zuvelpa01,SS
19819,24,58,10,16,2,0,2,6.0,0.0,0.0,...,286665.0,0.275862,0.413793,0.300000,0.950000,1982,8,1989,zuvelpa01,SS

In [3]:
#Drop Variables with no predictive ability
df.drop(['MinSalaries', 'salary', 'adjSalary', 'adjMinSalaries','playerID'], inplace=True, axis=1)

In [4]:
#Creating Dummy variables for categorical variable 'Primary' positions
df2 = pd.get_dummies(df.Primary,prefix='Prim', prefix_sep='_')
df = df.join(df2, how='inner')
df.drop(['Primary'], axis=1, inplace=True)

In [5]:
#Set minimum games at 30
df = df[df['G_x'] > 30]
df = df.reset_index(drop=True)
df.iloc[np.r_[0:6, -6:0]]

,G_x,AB,R,H,2B,3B,HR,RBI,SB_x,CS_x,...,debutYear,seasonNum,yearID,Prim_1B,Prim_2B,Prim_3B,Prim_C,Prim_DH,Prim_OF,Prim_SS
0,89,244,33,68,14,1,12,41.0,3.0,3.0,...,1997,2,1998,0,0,0,0,0,1,0
1,80,215,31,59,15,1,3,29.0,2.0,1.0,...,1997,4,2000,0,0,0,0,0,1,0
2,101,345,41,86,17,3,9,33.0,3.0,0.0,...,1993,2,1994,0,0,0,0,0,0,1
3,120,420,60,107,18,7,17,60.0,4.0,3.0,...,1993,3,1995,0,0,0,0,0,0,1
4,109,320,37,81,18,7,8,33.0,3.0,3.0,...,1993,4,1996,0,0,0,0,0,0,1
5,94,252,35,69,18,2,6,30.0,3.0,1.0,...,1993,5,1997,0,1,0,0,0,0,0
14764,124,387,52,97,25,0,25,64.0,1.0,0.0,...,2013,5,2017,0,0,0,1,0,0,0
14765,124,392,46,108,19,1,3,43.0,2.0,2.0,...,1991,2,1992,0,0,0,0,0,1,0
14766,141,286,40,69,24,2,2,26.0,5.0,2.0,...,1991,3,1993,0,0,0,0,0,1,0
14767,36,92,10,18,4,1,1,8.0,0.0,1.0,...,1991,4,1994,0,0,0,0,0,1,0
14768,81,190,16,48,8,1,0,4.0,2.0,0.0,...,1982,4,1985,0,1,0,0,0,0,0
14769,51,130,9,30,5,1,0,7.0,0.0,0.0,...,1982,7,1988,0,0,0,0,0,0,1

In [6]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import ShuffleSplit
from sklearn.preprocessing import StandardScaler
from sklearn import metrics as mt
import warnings
import pandas as pd
import numpy as np
warnings.filterwarnings('ignore')

# create variables we are more familiar with
y = df.adjSalary2
X = df.drop(['adjSalary2'], axis=1)

In [7]:
# Scaling training variables
scl = StandardScaler()
X = scl.fit_transform(X)

from sklearn.model_selection import train_test_split
#Create Train Test Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#Create K-Fold quantity
cv = 10

#KNN regressor 10-fold cross-validation 
from sklearn.neighbors import KNeighborsRegressor

RegEstimator = KNeighborsRegressor()
parameters = { 'n_neighbors':[3,5,15,30], 'weights': ['uniform','distance'],'leaf_size': [5,10,30], 'metric': ['euclidean','minkowski']}

#Create a grid search object using the  
from sklearn.model_selection import GridSearchCV
KNNGridSearch = GridSearchCV(estimator=RegEstimator, n_jobs=6, verbose=1, param_grid=parameters, cv=cv, scoring='r2')

#Perform hyperparameter search to find the best combination of parameters for our data
KNNGridSearch.fit(X_train, y_train)

Fitting 10 folds for each of 48 candidates, totalling 480 fits

[Parallel(n_jobs=6)]: Done  38 tasks      | elapsed:  4.3min
[Parallel(n_jobs=6)]: Done 188 tasks      | elapsed: 21.2min
[Parallel(n_jobs=6)]: Done 438 tasks      | elapsed: 40.1min
[Parallel(n_jobs=6)]: Done 480 out of 480 | elapsed: 42.9min finished

GridSearchCV(cv=10, error_score='raise',
       estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform'),
       fit_params=None, iid=True, n_jobs=6,
       param_grid={'n_neighbors': [3, 5, 15, 30], 'weights': ['uniform', 'distance'], 'leaf_size': [5, 10, 30], 'metric': ['euclidean', 'minkowski']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=1)

In [8]:
print("Best Estimator:", KNNGridSearch.best_estimator_)
print("Best Parameters:", KNNGridSearch.best_params_)
print("Best Score:", KNNGridSearch.best_score_)

Best Estimator: KNeighborsRegressor(algorithm='auto', leaf_size=5, metric='euclidean',
          metric_params=None, n_jobs=1, n_neighbors=15, p=2,
          weights='distance')
Best Parameters: {'leaf_size': 5, 'metric': 'euclidean', 'n_neighbors': 15, 'weights': 'distance'}
Best Score: 0.49687191858820035

##### Removing Highly Correlated Variables
In an attempt to improve R2, Investigate removing highly correlated variables and high VIF

In [9]:
X = df.drop(['adjSalary2'], axis=1)
y = df.adjSalary2

#Drop highly correlated, insignificant and high VIF columns.
X = X.drop(['H', 'G_y','G_x','InnOuts','HR','GS','AB','SB_y','stint','A','R','Prim_1B','OBP','FPct','Bavg','Slug','debutYear'], axis=1)

#Create correlation matrix
CorrMat = X.corr()

# Highest Correlation Pairs
corrPairs = CorrMat.unstack().sort_values(kind="quicksort")
#- REMOVE DUPLICATES
corrPairs = corrPairs[::2]
corrPairs = corrPairs[corrPairs.index.get_level_values(0) != corrPairs.index.get_level_values(1)]
with pd.option_context('display.max_rows',16):
    print(corrPairs)

Prim_OF  DP        -0.507222
E        Prim_OF   -0.404202
Prim_OF  Prim_C    -0.324410
Prim_3B  Prim_OF   -0.289136
Prim_2B  Prim_OF   -0.288477
Prim_OF  Prim_SS   -0.272891
CS_y     Prim_OF   -0.268322
Prim_OF  PB        -0.249554
                      ...
BB       2B         0.704083
RBI      SO         0.744825
         BB         0.764591
Prim_C   PB         0.765206
SB_x     CS_x       0.771658
CS_y     PB         0.795685
         Prim_C     0.823878
2B       RBI        0.847580
Length: 300, dtype: float64

In [10]:
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

df2_vif = pd.DataFrame()
df2_vif["VIF Factor"] = [vif(X.values, i) for i in range(X.shape[1])]
#df2_vif["features"] = df_teamX_scaled.columns
df2_vif["features"] = X.columns
df2_vif

    VIF Factor   features
0    15.217886         2B
1     2.874304         3B
2    22.724907        RBI
3     4.034061       SB_x
4     4.764528       CS_x
5     9.911736         BB
6    11.005578         SO
7     2.669304        IBB
8     2.378242        HBP
9     2.225424         SH
10    4.769145         SF
11    6.605253       GIDP
12   10.382957         PO
13    5.606712          E
14    8.784053         DP
15    3.409811         PB
16    5.117338       CS_y
17    4.014704  seasonNum
18   23.798145     yearID
19    3.670906    Prim_2B
20    3.925435    Prim_3B
21    6.275787     Prim_C
22    1.154833    Prim_DH
23    8.976534    Prim_OF
24    3.992855    Prim_SS

In [11]:
# Scaling training variables
scl = StandardScaler()
X = scl.fit_transform(X)

#Create Cross Validation Object with 10 folds with 80/20 train - test split
cv = ShuffleSplit(n_splits = 10, test_size=0.20, random_state=0)

# now iterate through and get predictions, saved to the correct row in yhat

for train, test in cv.split(X,y):
    # get a handle to the classifier object, which defines the type
    reg_knn = KNeighborsRegressor(n_neighbors=15, weights='distance', metric='euclidean',algorithm='auto',leaf_size=5)
    reg_knn.fit(X[train],y[train])
    coeffDeterm = reg_knn.score(X[test],y[test])
    print(coeffDeterm)

0.4643973868280274
0.45950422947965297
0.48226507453260803
0.4590037319668536
0.47939479952175673
0.4803076998666037
0.4957795486448731
0.5034960523755303
0.4715356942428098
0.48533416488692077

In [12]:
from sklearn.model_selection import cross_val_score
cross_val_score(reg_knn, X, y, scoring='r2')

array([0.42840211, 0.41969013, 0.42833041])